<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Admin Panel{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <img src="{{ url_for('static', filename='logo-icon.png') }}" alt="Logo Icon">
        <h1>E FUORI NEVICA - ADMIN</h1>
        <nav>
            <a href="{{ url_for('admin.gestisci_camerieri') }}">Camerieri</a>
            <a href="{{ url_for('admin.gestisci_ingredienti') }}">Ingredienti</a>
        </nav>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
</body>
</html>