{% extends "base.html" %}

{% block title %}Gestisci Camerieri{% endblock %}

{% block content %}
<div style="display: flex; justify-content: space-between; align-items: center;">
    <h2>Gestisci Camerieri</h2>
    <form action="{{ url_for('admin.reset_camerieri') }}" method="post">
        <button type="submit" class="button">RESET</button>
    </form>
</div>
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Indirizzo</th>
            <th>Nome</th>
        </tr>
    </thead>
    <tbody>
        {% for cameriere in camerieri %}
        <tr>
            <td>{{ cameriere[0] }}</td>
            <td>
                <form action="{{ url_for('admin.modifica_nome_cameriere', id=cameriere[0]) }}" method="post" style="display:inline;">
                    <input class="input-field" type="text" name="nome" value="{{ cameriere[1] }}" required>
                    <button type="submit" class="button">Modifica</button>
                </form>
            </td>
            <td>
                <form action="{{ url_for('admin.modifica_addr_cameriere', id=cameriere[0]) }}" method="post" style="display:inline;">
                    <input class="input-field" type="text" name="address" value="{{ cameriere[2] }}" required>
                    <button type="submit" class="button">Modifica</button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
